.html {
    box-sizing: border-box;
    font: color white;
    }

.body {
    background-image:url(images/Phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;}
    
.container {
        display: flex;
        width: 1206px;
        padding: 0 auto;
        margin: 0 auto;
    }
    
    
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



    .header {
        background-color: 
        rgba(0, 0, 0, 0.4);
        font-family: Roboto;
        Font-size: 18px;
        padding: 18px 0;
       }
       
    
.logo{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;

}


.logo:hover{
    color: #01813F;
}
.icon {
    margin-left: 20px;
}

.icon-writting{
    margin-left: 20px;
}

  
.icon-writting:hover svg {
    fill: green;
  }

.icon-compass{
    margin-left: 20px;
}

.icon-item {
Line-height: 14px;
Line-height: 87%;
color: #FFFFFF;
margin-left: 20px;}

.sign:hover{
    color: green;
}

  .main{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form{
        background-color: #fff;
        padding: 30px 60px 38px;
        position: relative;
    }
/* создание псевдоєлемента */
    .form::before{
        content:"";
        width: 18px;
        height: 18px;
        background-color: green;
        position: absolute;
        left: 0;
        top: 49px;
        
        
    }


.sign-up{

font-size: 20px;
color: #434343;
}

.sign-in{

color: #3CB878;
}

.wrapper-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
 margin-bottom: 15px;


}
.wrapper-btns{
    display: flex;
    margin-bottom: 31px;
    

}

.btn {
    /* padding: 0 22px 0 17px; */

position: relative;
height: 48px;
min-width: 160px ;
display: flex;
justify-content: space-between;
background: #305DB8;
border-radius: 5px;
align-items: center;
box-sizing: border-box;
color: #FFFFFF;
font-size: 16px;

}
.btn:after{
    content:"";
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    position: absolute;
    left: 48px;
}
.left-btn{
    padding: 0 22px 0 17px;
    background-color: #305DB8;
    margin-right: 9px;

}
.left-btn:hover{
    background-color: 
    #022263;
}
.right_btn{
    padding: 0 27px 0 12px;
    background-color:#DF4A32;  
}
.right_btn:hover{
    background-color: #AB1F09;
}
.top-content{
    text-align: center;
}
.decoration_top_content{
    display: flex;
    align-items: center;
}
/* создание полосы псевдоэлементом */
.decoration_top_content:after{
    display: inline-block;
    content: "";
    width: 152px;
    height: 1px;
   background-color:#F2F2F2;
  margin-left: 5px;
}
.decoration_top_content:before{
    display: inline-block;
    content: "";
    width: 152px;
    height: 1px;
   background-color:#F2F2F2;
   margin-right: 5px;
}

.form{
    box-sizing: border-box;
    width: 444px;
}
.input{
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
  
input[type=text] {
    width: 100%;
    padding: 15px 19px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    color: #BEBEBE;
  }

  input[type=text]:active{
    background: #FFFFFF;
     box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21); 

  }

  input[type=email] {
    width: 100%;
    padding: 15px 19px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21); */
    border-radius: 4px;
    color: #BEBEBE;
  }
  input[type=email]:active{
    background: #FFFFFF;
     box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21); 
  }
    
    input[type=password] {
    width: 100%;
    padding: 15px 19px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    outline: none;
    /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21); */
    border-radius: 4px;
    color: #BEBEBE;
  }
  input[type=password]:active{
    background: #FFFFFF;
     box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21); 
  }
  
  input[type=chekbox] {
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding: 12px 124px 20px 8px;
   
    
  }
  .terms{
    color: #01813F;
    
  }
  .terms:active{
   
    text-decoration-line: underline;
  }

  .icon-welcome:hover{
    color: #01813F;


  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  
    